div {
	border: 1px solid black;
	width: 150px;
	height: 50px;
	padding: 10px;
	color: white;
	font-weight: bold;
}

#red {
	background-color: #d84231;
}

#orange {
	background-color: #eaae33;
	margin: 10px;
	margin-left: 30px;
}

#yellow {
	background-color: #ffff00;
	margin: 10px;
	margin-left: 60px;
}

#green {
	background-color: #578c05;
	margin:  10px;
	margin-left: 90px;
}

#blue {
	background-color: #234afb;
	margin: 10px;
	margin-left: 120px;
}

#purple {
	background-color: #DF8BF0;
	margin: 10px;
	margin-left: 150px;
}