html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#top section {
	float: left;
}

#bottom section {
	float: left;
}

#container div {
	border: 1px solid black;
/*	width: 150px;
	height: 50px;*/
	width: 75px;
	/*height: 72px;*/
	padding: 10px;
	color: white;
	font-weight: bold;
	/*margin-left: 40px;*/
}

#container img {
	position: relative;
	left: 55px;
	top: 15px;
	margin-top: 10px;
}

#red {
	background-color: #d84231;
}

#orange {
	background-color: #eaae33;
	margin-left: 
}

#yellow {
	background-color: #ffff00;
}

#green {
	background-color: #578c05;
}

#blue {
	background-color: #234afb;
}

#purple {
	background-color: #DF8BF0;
}













