body {
	background-color: #708090;
	background-image:url(https://www.burgessyachts.com/media/adminforms/locations/l/o/los_angeles.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
	font-weight: bolder;
}

.indent p {
	text-indent: 25px;
}

h2 {
	color: red;
	text-decoration: underline;
}

ul {
	list-style-type: upper-roman;
}