/*
	*The nav is on top of the aside.
	*The section below the nav and right of the aside.
	*The footer sits below everything.
*/
body {
	background-color: #e1e1e1;
	background-image: url(http://wallpapercave.com/wp/81LJNRp.jpg);
	background-size: cover;
	color: white;
}
#top-bar h1 {
	font-family: 'monoton';
	color: yellow;
	/*margin-left: 50px;*/
	float: left;
	font-size: 45px;
	text-decoration: underline;
}

/*Jet and the Vader images are positioned*/
.jet {
	width: 100px;
	position: relative;
	left: 200px;
	top: 25px;
	border-radius: 150px;
}
.vader {
	width: 300px;
	float: right;
	border-radius: 150px;
}

/*Styling and positiong of the nav list*/
#top-bar a {
	text-decoration: none;
	color: yellow;
}
#top-bar>ul, 
#top-bar>ul li {
	text-align: center;
	clear: both;
}
#top-bar>ul li {
	display: inline-block;
	width: 200px;
	padding: 10px;
	border: 1px solid khaki;
	border-radius: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

/*												
	*Styling and positioninf of the aside list.
	*Added icons from fontawesome.
*/
aside {
	border: 5px solid yellow;
	background-color: #e1e1e1;
	height: 220px;
	float: left;
	padding: 20px;
	margin-right: 20px;
	border-radius: 3px;
}
#left-side li {
	margin-top: 10px;
	font-size: 30px;
	border: 5px solid yellow;
	padding: 5px;
	border-radius: 20px;
	position: relative;
	right: 20px;
	background-color: #e1e1e1;
	list-style-type: none;
}
.fa-google,
.fa-twitter,
.fa-facebook {
	color: yellow;
}

/*Stying and positioning the section*/
#main-image img {
	float: left;
	border-radius: 150px;
}
.main-content {
	width: 400px;
	float: left;
	position: relative;
	left: 50px;
}
.main-content h3 {
	font-family: 'monoton';
	font-size: 40px;
	margin-bottom: -20px;
}
.main-content p {
	text-indent: 25px;
	font-size: 20px;
}

/*Styling and positioning of the footer*/
footer {
	border: 1px solid black;
	clear: both;
	text-align: center;
	position: relative;
	top: 100px;
}

#bottom-bar>ul,
#bottom-bar>ul li {
	margin: 5;
	padding: 0;
}

#bottom-bar>ul li {
	display: inline-block;
	width: 100px;
}

#bottom-bar a {
	text-decoration: none;
	color: yellow;
}




